/* dark-mode.css */
body.dark {
    background: #000000;
    color: #fff;
  }
  
  body.dark header {
    background: #000000;
    color: #fff;
  }
  
  body.dark #darkmode {
    background: #fff;
    color: #000000;
  }
  
  body.dark #command-line {
    background: #ffffff;
    color: rgb(255, 0, 0);
  }
  
  body.dark #command-line-input {
    border-top: 1px solid rgb(9, 9, 9);
    background: #ffffff;
    color: #0004ff;
  }
  
  body.dark #links {
    color: #ef00fc;
  }
  
  body.dark #links:hover {
    color: rgb(0, 0, 0);
  }
  
  body.dark #titleCmd {
    color: rgb(111, 0, 255);
  }
  
  body.dark #command-line-input::placeholder {
    color: #0004ff;
  }
  
  body.dark footer {
    background: #000000;
    color: #fff;
  }
  

body.dark #BB{
  background-color: rgba(76, 3, 244, 0.2);
  border: 1.5px solid rgba(76, 3, 244, 1);
  color: rgba(76, 3, 244, 1);
}

body.dark #BB:hover{
  background-color: rgba(240, 31, 174, 0.2);
  border: 1.5px solid rgba(240, 31, 174, 1);
  color: rgba(240, 31, 174, 1);
}


body.dark .project, 
body.dark .about, 
body.dark .contact {

  background: transparent;
  color: rgb(29, 29, 29);

}


body.dark .project h2, 
body.dark .about h2, 
body.dark .contact h2 {
  color: orange
}

body.dark .ascii-container {
    background: #000;
  }
 body.dark .ascii-container,
  body.dark .ascii-container > * {
  background: linear-gradient(to right, rgb(129, 4, 255), rgb(255, 1, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }


  body.dark .project-buttons a {
    background-color: transparent;
    border: 1.5px solid rgb(0, 0, 0);
    color: rgb(255, 0, 0);
  }
  
  body.dark .project-buttons a:hover {
    border: 1.5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }


  body.dark .contact-details{
    text-align: center;
  }
  body.dark .contact-details h2{
      color: rgb(34, 0, 255);
  }